/*загальні стилі*/
:root {
    /*кольори шрифтів*/
    --title-txt-color: #2e2f42;
    --txt-color: #434455;
    --white-txt-color: #fff;

    /*background-color*/
    --section1-color: #e5e5e5;
    --section3-color: #f4f4fd;

    /*logo*/
    --logo-color: #4d5ae5;

    /* animation */
    --duration-and-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*body style*/

body {
    font-family: 'Roboto', sans-serif;
    color: var(--txt-color);
    background-color: var(--white-txt-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
}

/*reset start*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.section {
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    gap: 24px;
    padding: 0px;
    justify-content: center;
}

.card-link {
    display: block;

    transition: box-shadow var(--duration-and-timing-function);
}



.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.about-section-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.card-link:hover .overlay-txt,
.card-link:focus .overlay-txt {
    transform: translateY(0);

}

.overlay-txt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    transform: translateY(100%);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--section3-color);
    background-color: var(--logo-color);

    transition: transform var(--duration-and-timing-function);

}

.about-container {
    padding: 32px 16px;
}

.about-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;


    width: 264px;
    height: 112px;
    background-color: var(--section3-color);
    border-radius: 4px;
}

.img-team {
    text-align: center;
    padding: 32px 16px;
}

.feature-list .item {
    width: calc((100% - 72px) / 4);
}

.about-list {
    display: flex;
    gap: 24px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.header-section {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

}

.header-container {
    display: flex;
    align-items: center;

}

.header-logo {
    margin-right: 76px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*link style*/
.link {
    text-decoration: none;
    color: inherit;
}

/*logo style*/
.logo {
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-txt {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-midle-txt {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;


    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.span-logo {
    color: var(--title-txt-color);
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--logo-color);
    border-radius: 50%;

    transition: background-color var(--duration-and-timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
    ;
}

.footer-social-svg {
    fill: #F4F4FD;
    ;
}
.footer-form-text {
    margin-bottom: 16px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-txt-color);
  }
  .footer-form {
    position: relative;
    display: flex;
    gap: 24px;
  }
  
  .footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 165px;
    height: 40px;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-txt-color);
    background-color: var(--logo-color);
    border-radius: 4px;
    border: 1px solid var(--logo-color);
    
  }
  .send-svg {
    margin-left: 16px;
  }
  
  .footer-form-input {
    width: 264px;
    padding-left: 16px;
  
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .footer-form-input:focus + .footer-form-label {
    opacity: 0;
  }
  .footer-form-label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
  
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white-txt-color);
  }

/*nav style*/

.header-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;

}

.adress-list {
    display: flex;
    gap: 40px;
    margin-right: 0;
}

.header-nav {
    display: flex;
    align-items: center;

}

.header-nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;

    color: var(--title-txt-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;


    transition: color var(--duration-and-timing-function);
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.active {
    color: #404bbf;
}

.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;



    background-color: #404BBF;
    border-radius: 2px;

}

.adress-style {
    font-style: normal;
    margin-left: auto;
}

.address {
    transition: color var(--duration-and-timing-function);

    color: var(--txt-color);
}

.address:hover,
.address:focus {
    color: #404bbf;
}

.hero-section {
    background-color: var(--title-txt-color);
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    max-width: 1440px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office/people-office-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



}

/*section background*/
.section-one {
    padding: 96px 0 120px;
}

/*title style*/
.section-title {}

.main-title {
    color: var(--white-txt-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: var(--logo-color);
    color: var(--white-txt-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    display: block;
    border-radius: 4px;

    border: none;

    transition: background-color var(--duration-and-timing-function);
}

.btn:focus,
.btn:hover {
    background-color: #404bbf;
}

.hero-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
}

.btn-portfolio {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;

    color: var(--logo-color);
    background-color: var(--section3-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--white-txt-color);
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.feature-list-btn {
    display: flex;
    gap: 24px;
    padding: 0px;
    justify-content: center;
    margin-bottom: 72px;
}

/*zaholovku h3 section 1*/
.second-title {
    color: var(--title-txt-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* paragraf*/
.about-title {
    color: var(--txt-color);
}

/*section about*/
.section-about {
    letter-spacing: 0.02em;
    padding: 120px 0;
}

.about-section {
    color: var(--title-txt-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.visually-hidden {

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

/*section 3 background*/

.section-team {
    padding-top: 120px;

    background-color: var(--section3-color);

}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-link {
    background: var(--logo-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    transition: background-color var(--duration-and-timing-function);
}

.team-social-svg {
    fill: #f4f4fd;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404BBF;
}




/* section 4*/
.ul-bg {
    background-color: #ffffff;
}

/* customers section */
.customers {
    padding: 120px 0;
}

.customers-title {
    margin-bottom: 72px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--title-txt-color);

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.customers-list {
    display: flex;
    gap: 24px;

}

.customers-item {
    width: 168px;
    height: 88px;

}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #8E8F99;
    ;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: border-color var(--duration-and-timing-function),
        color var(--duration-and-timing-function);
}

.customers-link:hover,
.customers-link:focus {
    color: #404BBF;
    border-color: 1px solid #404BBF;
}

.company-svg {
    fill: currentColor;

}

/*footer*/
.footer-bg {
    background-color: var(--title-txt-color);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;

}

.footer-left-side {
    margin-right: 120px;
}

.footer-left-txt {
    color: var(--section3-color);
    width: 264px;
}
.footer-midle-side{
    margin-right: 80px;
}

.portfolio-header-bg {
    background-color: var(--white-txt-color);
}

.title-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-txt-color);
    margin-bottom: 8px
}

.title-port {
    color: var(--txt-color);
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.card-item {
    width: calc((100% - 48px) / 3);
}

.card-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* modal-window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--duration-and-timing-function),
        visibility var(--duration-and-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;

    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--duration-and-timing-function);
}

.close-modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;

}

.modal-close-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*  */
.modal-title {
    margin-bottom: 16px;
  
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--title-color);
  }

  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-label {
    margin-bottom: 8px;
  }
  .modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
  
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
  
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input:focus-within {
    outline: none;
    border: 1px solid #4d5ae5;
  }
  .modal-label-text {
    display: block;
    margin-bottom: 4px;
  
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #8e8f99;
  }
  .modal-label-text.name-text {
    letter-spacing: 0.04em;
  }
  .modal-form-box {
    position: relative;
  }
  .modal-label-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  
    fill: var(--title-txt-color);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-label:focus-within .modal-label-svg {
    fill: var(--logo-color);
  }
  .modal-form-message {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
  
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
  
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-message:focus {
    outline: none;
    border: 1px solid #4d5ae5;
  }
  .modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }

  .modal-form-check-desc {
    display: flex;
    align-items: flex-end;
    gap: 8px;
  
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .modal-form-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
  }
  .modal-form-check:checked + .modal-form-check-desc > .modal-form-checkbox {
    background-color: var(--logo-color);
    border: none;
  }
  .modal-form-check:checked + .modal-form-check-desc .checkbox-svg {
    opacity: 1;
  }
  .checkbox-svg {
    opacity: 0;
    border: none;
  }
  .policy-link {
    color: var(--logo-color);
    display: block;
    margin-left: -5px;
  }
  .modal-send-btn {
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    background-color: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-send-btn:hover,
  .modal-send-btn:focus {
    background-color: #404bbf;
  }
